.main {
  /* background-color: #fff; */
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

p {
  color: #935e43;
}

@media screen and (min-width: 768px) {
  .main {
    padding-bottom: 40px;
  }
}